<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= name %></h1>
    <form action="/admin/logout" >
        <button type="submit">sign out</button>
    </form>
    <form action="/admin/adminPanel/:adminName" method="post">
        <label for="">enter Username</label>
        <input type="text" placeholder="enter" name="filterUser">
        <button type="submit">search</button>
    </form>
    <table style="border: 1px solid black">
        <tr>
            <th>Username</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        <% allUsers.forEach((user)=>{ %>
        <tr>
            <td><%= user.username %></td>
            <td>
                <form action="/admin/updateUser">
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <button type="submit">update</button>
                </form>
            </td>
            <td>
                <form action="/admin/removeUser" method="post">
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
    <script>
        // Use JavaScript to navigate away from the user panel
        function navigateAwayFromUserPanel() {
            history.pushState(null, null, '/navigateAwayFromUserPanel');
            window.location.href = '/admin';
        }
        // Attach the function to the onpopstate event to handle back button clicks
        window.onpopstate = function (event) {
        // Ensure users are redirected to the root page
        window.location.href = '/admin';
        };
    </script>
</body>
</html>